checkerboard_images/
src/ac_training_lab/apriltag_demo/tag41_12_00110_60mm.pdf
src/ac_training_lab/apriltag_demo/tag41_12_00110_60mm.svg
src/ac_training_lab/apriltag_demo/tag41_12_00110.png
src/ac_training_lab/apriltag_demo/tag41_12_00111.png
src/ac_training_lab/apriltag_demo/tag41_12_00112.png
